@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="o-nas">
        <h2 style="text-align:center">Czym się zajmujemy?</h2>
        <div class="image-o-nas">
            <img src="https://lh3.googleusercontent.com/proxy/xJZUcgkvgLfGjqVltnFQwa6-7EnK6l6RcuAV450ttk4mCmKk0LAXPf-7vb0gRmsUh7Y8VcExlvVL8uqy6-KzaDaHo5HdaGAeg-ABeZqeRzkmVq7qyRkvfbemCDGSWzKrzaKXyhF1VyNxtr4x2g" />
        </div>
        <div class="info-o-nas">
            Pomóż nam ich odnaleźć – przejrzyj bazę, powiadom nas, jeśli posiadasz informacje na temat kogoś z nich. Może mijasz zaginioną osobę na ulicy lub spotkałeś ją w autobusie, metrze lub na przejściu dla pieszych?
        </div>
    </div>
    <div class="kontakt">
        <h2 style="text-align:center">Skontaktuj się z nami</h2>
        <div class="info-kontakt">
            <h3>LINIA WSPARCIA</h3>
            <span>
                Pracownicy i wolontariusze Fundacji dyżurujący przy Linii Wsparcia są gotowi do pomocy w sytuacji gdy zaginął człowiek. Każdy z nas potrafi przyjąć zgłoszenie o zaginięciu i doradzić, w jaki sposób zorganizować poszukiwania na własną rękę oraz czego można oczekiwać od policji. Pod tym numerem można również uzyskać wsparcie psychologa, prawnika czy pracownika socjalnego.
            </span>
        </div>
        <div class="mapa-kontakt">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=J%C3%B3zefa%20Lewartowskiego%2017%2C%2000-169%20Warszawa&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">google map coding</a></div>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    height: 500px;
                    width: 600px;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 600px;
                }
            </style></div>
        </div>
    </div>
</div>